######################################################################################
# READ THIS FIRST
# This file is authored in filecoin-project/github-mgmt repository and MANUALLY copied to other repos.
# At least as of 2025-07-16, changes to this file will not be automatically propagated.
# This is discussed more in https://github.com/FilOzone/github-mgmt/issues/10.
# This file resides in filecoin-project/github-mgmt for visibility. 
######################################################################################

# This action adds all issues and PRs with a "team/fs-wg" label to the FS project board.
# It is used to keep the FS project board up to date with the issues and PRs.
# It is triggered by the issue and PR events.
# It assumes a `FILOZZY_CI_ADD_TO_PROJECT` secret is set in the repo.
# This secret should have the permissions outlined in https://github.com/actions/add-to-project?tab=readme-ov-file#creating-a-pat-and-adding-it-to-your-repository
name: Add issues and PRs to FS project board

on:
  issues:
    types:
      - labeled
  # Using "pull_request_target" instead of "pull_request" to support PRs from forks.
  # pull_request_target has access to secrets even for fork PRs, which is necessary
  # for this action to authenticate and add items to the project board.
  # pull_request_target runs the workflow file from the base branch (main),
  # not from the PR branch, so attackers cannot modify this workflow via PR.
  # This action does not check out nor execute user code so we should be safe.
  # We also hardcode to specific hash to ensure no unintended changes underneath us.
  pull_request_target:
    types:
      - labeled

jobs:
  add-to-project:
    name: Add all "team/fs-wg" issues and PRs to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e # v1.0.2
        continue-on-error: true # Don't fail if item already exists in project. actions/add-to-project does not currently handle this case gracefully.
        with:
          project-url: https://github.com/orgs/FilOzone/projects/14
          github-token: ${{ secrets.FILOZZY_CI_ADD_TO_PROJECT }}
          labeled: team/fs-wg
